.nav-links {
float: right;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    padding-right: 20px;
}

section#main.main {
    width: 70%;
    padding: 10px;
    float: left;


}

section.sub-section {
    width: 25%;
    height: 50px;
    float: left;
}

.header-img>img {
    width: 100vw;
}

footer {
    padding-top: 200px;
    clear: both;
    padding-left: 25px;
}
