
.alert-info.hidden-on-mobile {
    display: none;
}


.nav-links {
float: right;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    padding-right: 20px;
}

section#main.main {
    width: 65%;
    float: left;
    padding: 2px;

}

section.sub-section {
    width: 30%;
    height: 50%;
    float: left;
    padding-left: 10px;
}

.header-img>img {
    width: 100vw;
}

footer, p {
    clear: both;
}

@media screen and (max-width:768px) {
    .nav-links li {
        display: block;
        width: 95%;
        background-color: lightgrey;
        margin-bottom: 10px;
        padding: 5px;
    }

    .nav-links {
        float: none;
        text-align: center;
        padding-left: 0;
    }

    li {
        display: block;

    }

    section.sub-section {
        float: none;
        width:auto;
        padding-left: 0;
    }

    section#main.main {
        width: auto;
        float: none;
    }

    .alert-info.hidden-on-mobile {
        display: block;
        width: 95%;
        padding: 5px;
        background-color: turquoise;
        text-align: center;
    }

    h1 {
        text-align: center;
    }

    .header-img>img {
        width: 390px;
        height:224px;
    }
}