


.nav-links {
float: right;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    padding-right: 20px;
}

section#main.main {
    width: 65%;
    float: left;
    padding: 2px;

}

section.sub-section {
    width: 30%;
    height: 50%;
    float: left;
    padding-left: 10px;
}

.header-img>img {
    width: 100vw;
}

